USE [master]
GO
/****** Object:  Database [TzDB]    Script Date: 2016/7/25 4:21:18 ******/
CREATE DATABASE [TzDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TzDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TzDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TzDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TzDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TzDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TzDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2016/7/25 4:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 2016/7/25 4:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modules](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[Name] [nvarchar](100) NOT NULL,
	[Icon] [nvarchar](200) NULL,
	[ParentId] [uniqueidentifier] NULL,
	[Controller] [nvarchar](200) NULL,
	[Action] [nvarchar](200) NULL,
	[LinkAddress] [nvarchar](max) NULL,
	[Remark] [nvarchar](200) NULL,
	[Type] [int] NOT NULL,
	[Sort] [int] NULL,
	[IsVisible] [int] NOT NULL,
	[Version] [varbinary](max) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.Modules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 2016/7/25 4:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[RoleId] [uniqueidentifier] NOT NULL,
	[ModuleId] [uniqueidentifier] NOT NULL,
	[Version] [varbinary](max) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.RolePermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2016/7/25 4:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[Name] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](200) NULL,
	[IsVisible] [int] NOT NULL,
	[Version] [varbinary](max) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 2016/7/25 4:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[AccountId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[Version] [varbinary](max) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2016/7/25 4:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](14) NULL,
	[RealName] [nvarchar](20) NULL,
	[Remark] [nvarchar](200) NULL,
	[IsVisible] [int] NOT NULL,
	[Version] [varbinary](max) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Modules] ([Id], [Name], [Icon], [ParentId], [Controller], [Action], [LinkAddress], [Remark], [Type], [Sort], [IsVisible], [Version], [CreateTime]) VALUES (N'8d10f848-fd45-e611-b589-1c1b0d05c3bc', N'用户管理', N'fa fa-user', N'96f04f95-0146-e611-b589-1c1b0d05c3bc', N'Account', N'Index', N'Admin/Account', N'123344', 1, 2, 1, NULL, CAST(N'2016-07-24 23:00:39.120' AS DateTime))
INSERT [dbo].[Modules] ([Id], [Name], [Icon], [ParentId], [Controller], [Action], [LinkAddress], [Remark], [Type], [Sort], [IsVisible], [Version], [CreateTime]) VALUES (N'a554a366-fd45-e611-b589-1c1b0d05c3bc', N'菜单管理', N'fa fa-th-large', N'96f04f95-0146-e611-b589-1c1b0d05c3bc', N'Module', N'Index', N'Admin/Module', N'11122', 1, 3, 1, NULL, CAST(N'2016-07-24 23:00:39.120' AS DateTime))
INSERT [dbo].[Modules] ([Id], [Name], [Icon], [ParentId], [Controller], [Action], [LinkAddress], [Remark], [Type], [Sort], [IsVisible], [Version], [CreateTime]) VALUES (N'e0427571-fd45-e611-b589-1c1b0d05c3bc', N'角色管理', N'fa fa-users', N'96f04f95-0146-e611-b589-1c1b0d05c3bc', N'Role', N'Index', N'Admin/Role', N'1122332123', 1, 4, 1, NULL, CAST(N'2016-07-24 23:00:39.120' AS DateTime))
INSERT [dbo].[RolePermissions] ([Id], [RoleId], [ModuleId], [Version], [CreateTime]) VALUES (N'e66081d0-ca51-e611-b5a8-1c1b0d05c3bc', N'c245101a-b346-e611-b589-1c1b0d05c3bc', N'96f04f95-0146-e611-b589-1c1b0d05c3bc', NULL, CAST(N'2016-07-25 02:17:01.450' AS DateTime))
INSERT [dbo].[RolePermissions] ([Id], [RoleId], [ModuleId], [Version], [CreateTime]) VALUES (N'e76081d0-ca51-e611-b5a8-1c1b0d05c3bc', N'c245101a-b346-e611-b589-1c1b0d05c3bc', N'8d10f848-fd45-e611-b589-1c1b0d05c3bc', NULL, CAST(N'2016-07-25 02:17:01.450' AS DateTime))
INSERT [dbo].[RolePermissions] ([Id], [RoleId], [ModuleId], [Version], [CreateTime]) VALUES (N'e86081d0-ca51-e611-b5a8-1c1b0d05c3bc', N'c245101a-b346-e611-b589-1c1b0d05c3bc', N'deccb661-af51-e611-b5a8-1c1b0d05c3bc', NULL, CAST(N'2016-07-25 02:17:01.450' AS DateTime))
INSERT [dbo].[Roles] ([Id], [Name], [Remark], [IsVisible], [Version], [CreateTime]) VALUES (N'c245101a-b346-e611-b589-1c1b0d05c3bc', N'超级管理员', NULL, 1, NULL, CAST(N'2016-07-10 23:29:33.827' AS DateTime))
INSERT [dbo].[Roles] ([Id], [Name], [Remark], [IsVisible], [Version], [CreateTime]) VALUES (N'501a19d2-7747-e611-b589-1c1b0d05c3bc', N'测试角色', NULL, 1, NULL, CAST(N'2016-07-11 22:57:44.167' AS DateTime))
INSERT [dbo].[UserRoles] ([Id], [AccountId], [RoleId], [Version], [CreateTime]) VALUES (N'021d79b5-be46-e611-b589-1c1b0d05c3bc', N'92a8a431-9ce6-e411-be9d-dc0ea183c1fa', N'c245101a-b346-e611-b589-1c1b0d05c3bc', NULL, CAST(N'2016-07-11 00:52:39.360' AS DateTime))
INSERT [dbo].[UserRoles] ([Id], [AccountId], [RoleId], [Version], [CreateTime]) VALUES (N'8338fc37-8547-e611-b589-1c1b0d05c3bc', N'710acb0d-7d47-e611-b589-1c1b0d05c3bc', N'501a19d2-7747-e611-b589-1c1b0d05c3bc', NULL, CAST(N'2016-07-12 00:33:38.543' AS DateTime))
INSERT [dbo].[UserRoles] ([Id], [AccountId], [RoleId], [Version], [CreateTime]) VALUES (N'4f2763b9-ca51-e611-b5a8-1c1b0d05c3bc', N'97211327-7c47-e611-b589-1c1b0d05c3bc', N'501a19d2-7747-e611-b589-1c1b0d05c3bc', NULL, CAST(N'2016-07-25 02:16:22.673' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Password], [Email], [Phone], [RealName], [Remark], [IsVisible], [Version], [CreateTime]) VALUES (N'97211327-7c47-e611-b589-1c1b0d05c3bc', N'test', N'21218cca77804d2ba1922c33e0151105', NULL, N'1123', N'123123', N'3333', 1, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Password], [Email], [Phone], [RealName], [Remark], [IsVisible], [Version], [CreateTime]) VALUES (N'710acb0d-7d47-e611-b589-1c1b0d05c3bc', N'test1', N'21218cca77804d2ba1922c33e0151105', NULL, NULL, N'11', N'123', 0, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Password], [Email], [Phone], [RealName], [Remark], [IsVisible], [Version], [CreateTime]) VALUES (N'92a8a431-9ce6-e411-be9d-dc0ea183c1fa', N'admin', N'21218cca77804d2ba1922c33e0151105', N'walkingfy@163.com', N'1', N'超级管理员', N'超级管理员', 1, NULL, NULL)
/****** Object:  Index [IX_ModuleId]    Script Date: 2016/7/25 4:21:18 ******/
CREATE NONCLUSTERED INDEX [IX_ModuleId] ON [dbo].[RolePermissions]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2016/7/25 4:21:18 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[RolePermissions]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountId]    Script Date: 2016/7/25 4:21:18 ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[UserRoles]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2016/7/25 4:21:18 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RolePermissions_dbo.Modules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_dbo.RolePermissions_dbo.Modules_ModuleId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RolePermissions_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_dbo.RolePermissions_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_AccountId]
GO
USE [master]
GO
