<link href="/Areas/Admin/Content/magicsuggest/magicsuggest-min.css" rel="stylesheet" />
<script type="text/javascript" src="/Areas/Admin/Content/magicsuggest/magicsuggest.js"></script>
<div class="page-content">
    <div id="container" class="row">
        @RenderBody()
    </div>
</div>
